body
{
background-color: grey
}

.boxBlue
{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 30px;
    position: absolute;
}

.boxBlack{

    bottom: 0;
    right: 0;
    background-color: black;
    color: blueviolet;
    padding: 10px;
    position: relative;
    
}

p{
    background-color:   rgba(163, 237, 200, 0.784);
}