.title {
    color: brown;
    margin: 10%;
    font-size: 40px;
}

.intro {
    color: rgb(106, 146, 65);
    margin: 10%;

}

.int {
    color: darkorange;
    margin: %10;
}
.lista{
    color:brown;
}