body {
    background-color: beige;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    display: grid;

    margin: 0 auto;
    width: 80%;
    background-color: lightslategray;

    padding: 20px;
    border: 3px solid black;

    /*prpiedades del contenedor*/
    /*grid-template-columns: auto auto auto;*/
    grid-template-rows: 60px 40px 40px 60px 60px 60px 40px;
    /*justify-content: stretch;*/

    grid-template-areas: 'head head'
                         'menu menu'                                    
                         'contact gallery'
                         'leftPanel content'
                         'leftPanel content'
                         'leftPanel content'
                         'footer footer'
    ;
}

.intem {

    /*width: 150px;*/
    /*height: 150px;*/
    border: 3px solid black;
    text-align: center;
    /*margin: 15px;*/
    /*float:left;*/


}

.barNav {
    /*grid-column: 1/4;*/
    background-color: lightseagreen;
    grid-area: head;
}

.menu {
    background-color: lightpink;
    /*grid-column: 1/4;*/
    grid-area: menu;

}

.contact {
    background-color: lightgreen;
    grid-area: contact;
    
    

    /*
    grid-column: 1/3;
    grid-row: 3/span 4;
    */
}

.gallery {
    background-color: lightsalmon;
    grid-area: gallery;


}

.leftPanel {
    background-color: lightcoral;
    grid-area: leftPanel;


}

.webContent {
    grid-area: content;

    /*grid-column: 2/4;*/
    background-color: lightcyan;
}

.footer {
    /*grid-column: 1/4;*/
    background-color: lightblue;
    grid-area: footer;

}